.bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: 
    url('../assets/bg-1.png') no-repeat left 904px,
    url('../assets/bg-1.png') no-repeat left 2694px,
    url('../assets/bg-2.png') no-repeat 1057px 1225px,
    url('../assets/bg-2.png') no-repeat 1022px 1767px,
    url('../assets/bg-2.png') no-repeat 1022px 3025px,
    url('../assets/bg-2.png') no-repeat 1022px 3553px,
    url('../assets/bg-3.png') no-repeat right 3081px,
    url('../assets/bg-3.png') no-repeat right 1284px,
    url('../assets/bg-4.png') no-repeat 180px 672px,
    url('../assets/bg-4.png') no-repeat 180px 1454px,
    url('../assets/bg-4.png') no-repeat 184px 2435px,
    url('../assets/bg-4.png') no-repeat 184px 3250px,
    url('../assets/bg-5.png') no-repeat right 758px,
    url('../assets/bg-5.png') no-repeat right 2508px,
    url('../assets/bg-0.jpg');
  width: 100%;
  height: 3870px;
  z-index: -100;
}


.bg-header {
  width: 100%;
  height: 0;
  padding-top: 35.625%;

  background: url('../assets/header.png') no-repeat top left / contain;
}

.bg-header-light {
  position: relative;
  background: url('../assets/bg-light.png') repeat-x left top;
  margin-top: -110px;
  width: 100%;
  height: 188px;
  z-index: -100;
}

.bg-flip-elements {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../assets/bg-3.png') no-repeat 6px 1746px,
    url('../assets/bg-3.png') no-repeat 6px 3553px;
  width: 253px;
  height: 3870px;
  transform: scaleX(-1);
}